.vacationRequest {
  .DC {
    padding: 10px 30px;
    /* width: 1204px; */
    /* margin: auto; */
    background-color: #f3f2f2;
  }

  .datenow {
    font-size: 14;
    font-weight: bold;
    margin: 0;
  }

  .titleh1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  .line {
    height: 1px;
    background-color: #000;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    // align-items: end;
  }

  .information .col {
    width: 50%;
    min-width: 400px;
  }
  .table,
  .table th,
  td {
    border: 0px solid #000;
    border-collapse: collapse;
    text-align: left;
  }
  .table .key {
    padding: 0 20px 10px 0;
    font-size: 18px;
  }

  .table .value {
    padding: 0 20px 10px 0;
    font-weight: bold;
    font-size: 18px;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .indique {
    margin-top: 30px;
    font-size: 18px;
  }

  .row .title {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .row .data {
    min-width: 200px;
    margin-right: 40px;
    max-width: 260px;
    position: relative;
  }

  .row .data .ca {
    position: absolute;
    top: 0;
    left: 0;
  }
  .row .data .jour {
    height: 30px;
    background-color: gray;
    border: 1px solid #000;
    width: calc(100% - 14px);
    padding: 4px 10px;
    font-size: 16px;
  }
  .row .data label {
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    text-transform: none;
    font-size: 14px;
  }
  .row .datarem {
    width: 100%;
    margin-right: 40px;
    max-width: 440px;
    position: relative;
  }
  .row .datarem .search {
    width: calc(100% - 40px);
    height: 30px;
    background-color: gray;
    border: 1px solid #000;
    padding: 4px 30px 4px 10px;
    font-size: 16px;
  }
  .row .datarem .iconsearch {
    position: absolute;
    top: 62px;
    right: 6px;
  }

  .cd {
    font-size: 18px;
    text-transform: uppercase;
    background-color: gray;
    color: #fff;
    border: 0;
    padding: 8px 14px;
    height: 40px;
    min-width: 200px;
    cursor: pointer;
  }

  .row .comment {
    width: 100%;
  }
  .row .comment .message {
    width: 100%;
    border: 1px solid #000;
    background-color: gray;
  }

  .ad {
    margin-top: 40px;
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
  }
  .ad .title {
    background-color: gray;
    color: #fff;
    text-align: left;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
  }
  .ad .tbody {
    padding: 20px;
    display: table-cell;
  }
  .ad .key {
    font-size: 18px;
    padding-right: 20px;
  }
  .ad .value {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 1px solid;
  }

  .btn {
    background-color: gray;
    border: 0;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .btnCal {
    background-color: gray;
    border: 0;
    color: #fff;
    margin-top: 36px;
    text-transform: uppercase;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
  }

  .btncont {
    // justify-content: end;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: right;
    text-align: right;
  }
  .inputcolor {
    background-color: gray !important;
    background: none !important;
  }

  .btn:disabled,
  .btn[disabled] {
    border: 1px solid gray;
    background-color: #cccccc;
    color: gray;
  }

  .spinner {
    display: inline;
    margin: 30px 90px 0;
  }
}
